:root {
  --font-family: "Karla", sans-serif;
  --font-size: 16px;
  --cyan: #29B1AF;
  --bright-cyan: #4abebd;
  --bright-yellow: #BFDF34;
  --light-gray: #bcc2ce;
  --white: #eee;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  max-width: 320px;
  margin: 20px auto;
  display: grid;
  grid-row: 1fr 1fr 1fr;
}

.join {
  padding: 20px;
}
.join h2 {
  margin: 0;
  color: var(--cyan);
  font-size: 18px;
}
.join h4 {
  color: var(--bright-yellow);
}
.join p {
  color: var(--light-gray);
}

.subscription {
  padding: 20px;
  background-color: var(--cyan);
  color: var(--white);
}
.subscription h2 {
  margin: 0;
  font-size: 18px;
}
.subscription p {
  display: flex;
  align-items: center;
  color: var(--light-gray);
  margin-bottom: 0;
}
.subscription p b {
  color: var(--white);
  font-size: 30px;
  margin-right: 15px;
}
.subscription h5 {
  margin-top: 0;
}
.subscription a button {
  width: 100%;
  height: 45px;
  color: var(--white);
  background-color: var(--bright-yellow);
  border: none;
  border-radius: 4px;
}

.why {
  color: var(--white);
  background-color: var(--bright-cyan);
  padding: 20px;
}